*.dSYM
CMakeCache.txt
CMakeLists.txt
CMakeFiles
*.cmake
*.aux
*.log
*.bbl
*.blg
convexhull/Makefile
convexhull/convexhull
display/Makefile
display/display
initializeproblem/initializeproblem
processhull/Makefile
processhull/processhull
randompara/randompara
*.out

